In [1]:
# Import dependencies 
import pandas as pd
from pathlib import Path

In [2]:
# reference file path
Energy_path = Path("Resources/owid-energy-data.csv")
# import as df
energy_df = pd.read_csv(Energy_path)
energy_df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
Demo_path = Path("Resources/WPP2022_Demographic_Indicators_Medium.csv")
Demo_df = pd.read_csv(Demo_path)

C:\Users\13202\AppData\Local\Temp\ipykernel_11212\189350840.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  Demo_df = pd.read_csv(Demo_path)

In [4]:
Demo_df.columns

LE_columns = [col for col in Demo_df.columns if col.startswith("LE") and "Male" not in col and "Female" not in col]
LE_columns

['LEx', 'LE15', 'LE65', 'LE80']

In [5]:
Demo_df.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

In [6]:
Meta_columns = ['SortOrder', 'Location', 'Time']
Meta_columns

['SortOrder', 'Location', 'Time']

In [7]:
# Concatenate meta columns and life expectancy columns
Demo_df = Demo_df[Meta_columns + LE_columns]
Demo_df

,SortOrder,Location,Time,LEx,LE15,LE65,LE80
0,1,World,1950,46.4643,47.0395,11.2965,5.0199
1,1,World,1951,47.1440,47.5028,11.3369,5.0145
2,1,World,1952,48.2311,48.2552,11.5593,5.1412
3,1,World,1953,48.8024,48.6073,11.6337,5.1490
4,1,World,1954,49.5919,49.0909,11.8152,5.2582
...,...,...,...,...,...,...,...
43467,290,Wallis and Futuna Islands,2097,89.2802,74.6892,25.9523,13.7656
43468,290,Wallis and Futuna Islands,2098,89.4087,74.8108,26.0540,13.8367
43469,290,Wallis and Futuna Islands,2099,89.5113,74.9084,26.1357,13.8930
43470,290,Wallis and Futuna Islands,2100,89.6067,74.9994,26.2127,13.9470
43471,290,Wallis and Futuna Islands,2101,NaN,NaN,NaN,NaN

In [8]:
# ?
Demo_df["Location"].value_counts()

Latin America and the Caribbean    304
Australia/New Zealand              304
World                              152
Spain                              152
Liechtenstein                      152
                                  ...
Southern Asia                      152
Afghanistan                        152
Bangladesh                         152
Bhutan                             152
Wallis and Futuna Islands          152
Name: Location, Length: 284, dtype: int64

In [9]:
# Renaming columns
Demo_df.rename(columns={"SortOrder": "Record Counter","Time": "Year"},inplace=True)
Demo_df

,Record Counter,Location,Year,LEx,LE15,LE65,LE80
0,1,World,1950,46.4643,47.0395,11.2965,5.0199
1,1,World,1951,47.1440,47.5028,11.3369,5.0145
2,1,World,1952,48.2311,48.2552,11.5593,5.1412
3,1,World,1953,48.8024,48.6073,11.6337,5.1490
4,1,World,1954,49.5919,49.0909,11.8152,5.2582
...,...,...,...,...,...,...,...
43467,290,Wallis and Futuna Islands,2097,89.2802,74.6892,25.9523,13.7656
43468,290,Wallis and Futuna Islands,2098,89.4087,74.8108,26.0540,13.8367
43469,290,Wallis and Futuna Islands,2099,89.5113,74.9084,26.1357,13.8930
43470,290,Wallis and Futuna Islands,2100,89.6067,74.9994,26.2127,13.9470
43471,290,Wallis and Futuna Islands,2101,NaN,NaN,NaN,NaN

In [14]:
# Filter Demo years to 2022 and earlier
Demo_df[(Demo_df['Year'] <= 2022)]

,Record Counter,Location,Year,LEx,LE15,LE65,LE80
0,1,World,1950,46.4643,47.0395,11.2965,5.0199
1,1,World,1951,47.1440,47.5028,11.3369,5.0145
2,1,World,1952,48.2311,48.2552,11.5593,5.1412
3,1,World,1953,48.8024,48.6073,11.6337,5.1490
4,1,World,1954,49.5919,49.0909,11.8152,5.2582
...,...,...,...,...,...,...,...
43388,290,Wallis and Futuna Islands,2018,77.8613,64.0298,17.7158,8.6228
43389,290,Wallis and Futuna Islands,2019,79.6167,65.6346,18.8345,9.2126
43390,290,Wallis and Futuna Islands,2020,78.7639,64.8531,18.2604,8.8750
43391,290,Wallis and Futuna Islands,2021,78.4396,64.4767,17.9316,8.7685
43392,290,Wallis and Futuna Islands,2022,80.0153,66.0020,19.0909,9.3542

In [15]:
# Filter energy df years
energy_df[(energy_df['year'] >= 1950)]

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
energy_df.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp',
       'biofuel_cons_change_pct', 'biofuel_cons_change_twh',
       'biofuel_cons_per_capita', 'biofuel_consumption',
       'biofuel_elec_per_capita',
       ...
       'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct',
       'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita',
       'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec',
       'wind_share_energy'],
      dtype='object', length=129)

In [20]:
energy_meta_columns = ['country', 'year', 'population', 'energy_per_capita', 'gas_energy_per_capita', 'hydro_elec_per_capita', 'nuclear_elec_per_capita']

['country',
 'year',
 'population',
 'energy_per_capita',
 'gas_energy_per_capita',
 'hydro_elec_per_capita',
 'nuclear_elec_per_capita']